//colors
$primary_text_color: hsla(0, 0%, 100%, 1);
$header_bg_color: hsla(0, 0%, 0%, 0.45);
$section_bg_color: hsla(0, 0%, 0%, 0.25);
$page_pg_color: hsla(250, 50%, 20%, 1);
$untouched_input_bg_color: hsla(0, 0%, 0%, 0.5);
$invalid_input_bottom_color: hsla(0, 80%, 40%, 1);
$selected_input_bg_color: hsla(0, 0%, 10%, 0.5);
$valid_input_bottom_color: hsla(140, 80%, 40%, 1);
$untouched_input_bottom_color: hsla(250, 80%, 60%, 0.4);
$submit_button_color: hsla(220, 80%, 40%, 1);
$login_button_color: hsla(120, 80%, 40%, 1);
$error_box_bg_color: hsla(0, 70%, 62%, 1);
$error_box_border_color: hsla(0, 66%, 53%, 1);
$success_box_bg_color: hsla(135, 70%, 62%, 1);
$success_box_border_color: hsla(125, 66%, 53%, 1);
$profile_info_bg_color: hsla(0, 0%, 0%, 0.75);
$status_bg_color: hsla(0, 100%, 100%, 1);

//fonts
$primary_font: "Roboto";
$fallback_font: "sans-serif";

//urls
$header_img_url: url("/public/img/header/missing.png");

$section-padding: 0.5em;

* {
  font-family: $primary_font, $fallback_font;
  color: $primary_text_color;
}

html {
  background: #222;
  margin: 1em 1em 1em 1em;
}

#logo {
  width: 10em;
  height: 10em;
}

#app {
  display: grid;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  grid-template-columns: 50vw;
}

header {
  grid-row: 1;
  grid-column: 1 / span 2;
  text-align: center;
  background-color: #0001;
  padding: $section-padding;
  border-radius: 1em;
}

section {
  background-color: #0001;
  padding: $section-padding;
  border-radius: 1em;
}

#overview {
  grid-row: 2;
  grid-column: 1;
}

#register_about {
  grid-row: 2;
  grid-column: 2;
  text-align: center;
}

@mixin flash {
  grid-row: -2;
  grid-column: 1 / span 2;
  text-align: center;
  border-radius: 0.25em;
}

#error_box {
  @include flash();
  background-color: #F004;
  border: 4px solid #4004;
}

#success_box {
  @include flash();
  background-color: #0F04;
  border: 4px solid #0F04;
}

#login {
  grid-column: 1 / span 2;
  grid-row: 1;
  text-align: center;
  margin-left: 25vw;
  margin-right: 25vw;
}

input {
  display: block;
  width: 32em;
  height: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: auto;
  margin-left: auto;
  background-color: #0002;
  color: #FFF;
  font-weight: bold;
}

@mixin button {
  border: none;
  border-radius: 0.25em;
  font-size: 1.05em;
  text-decoration: none;
  padding: 0.5em;
}

button {
  @include button();
  background-color: $submit_button_color;
}

a#login_button {
  @include button();
  background-color: $login_button_color;
}