header
    img#logo(src="../public/img/capybara.svg")
    h1 Capybara
section#overview
    h2 What is Capybara?
    p
        | Capybara is an #[a(href="https://github.com/CalmBit/capybara") open source],
        |  decentralized, federated microblogging platform - like Twitter, but with no one company
        |  controlling it.
    h2
        | Why would I want this?
    p
        | Microblogging is a great way to connect with people all over the world - unfortunately,
        |  the modern microblogging landscape is controlled by one company, with very few people's
        |  interests at heart. Software like Capybara allows users to take back their data and
        |  find communities that interest and benefit them, rather than a corporation.
    h2
        | This sounds like #[a(href="https://mastodon.social/about") Mastodon]...
    p
        | You're correct in making that comparison! Capybara is a clone of Mastodon, written in Go rather
        |  than Ruby, and with Vue.JS rather than React.
section#register_about
    if .username
        h1 You're logged in as #{.username}
        form(action="/logout" method="post")
            button(type="submit") Log Out
    else
        if .settings.RegistrationsOpen
            h2 Sign Up
            form(action="/register" method="post")
                input(type="text" name="username" placeholder="Username")
                input(type="email" name="email" placeholder="Email address")
                input(type="password" name="password" placeholder="Password")
                input(type="password" name="password_confirm" placeholder="Confirm password")
                button(type="submit") Sign Up
            p or
            a#login_button(href="/login") Log In
        else
            h2 Sorry!
            p
                | Unfortunately, the administrators of this instance aren't accepting new users right now.
            p
                | Try looking around for an open instance!
