section#error_container
    h1 You need to enable JavaScript.
    p
    | Unfortunately, Capybara's web client only works with Vue.JS making everything
    | neat and tidy. However, since Capybara is #[em also] Mastodon-compatible, try
    | one of these #[a(href="https://github.com/tootsuite/documentation/blob/master/Using-Mastodon/Apps.md") native apps]
    | instead!
