doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Capybara
        link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='public/img/favicon.png')
    body
        script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
        link(rel="stylesheet" type="text/css" href="/public/css/styles.css")
        link(href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet")
        main#app
            if .error
                div#error_box
                    p #{.error}
            if .success
                div#success_box
                    p #{.success}
            | {{ yield }}