section#login
    h2 Log In
    form(action="/login" method="post")
        input(type="email" name="email" placeholder="Email address")
        input(type="password" name="password" placeholder="Password")
        button(type="submit") Log In
