
section#login
    h2 Log In
    form(action="/otp" method="post")
        img(id="qr_code" width="256" height="256")
        input(type="text" name="code_confirm" placeholder="Confirmation Code")
        button(type="submit") Confirm

script.
    document.getElementById("qr_code").src=#{.qr_code}
