section#login
    h2 Type in your 2FA code
    form(action="/login/confirm" method="post")
        input(type="text" name="code_confirm" placeholder="Confirmation Code")
        button(type="submit") Confirm